.todo {
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 10px;
    color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.todo-form {
    display: flex;
    color: #f3f3f3;
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
